.center, a:link {
	text-align:center;
}

/* Headings */

h1 {
	font-family: Arial, Verdana, Helvetica, Tahoma, sans-serif;
	font-size: large;
}

h2, h3 {
	font-family: Arial, Verdana, Helvetica, Tahoma, sans-serif;
	font-size: medium;
	text-align: left;
}

h4 {
	font-size: large;
}

p {
	font-family: Arial, Verdana, Helvetica, Tahoma, sans-serif;
}

li {
	font-family: Arial, Verdana, Helvetica, Tahoma, sans-serif;
	font-size: medium;
	text-align: justify;
}

.dark {
    background-color: black;
    color: white;
}