.center, a:link {
	text-align:center;
}

/* Headings */

h1 {
	font-family: Arial, Verdana, Helvetica, Tahoma, sans-serif;
	font-size: x-large;
}

h2 {
	font-family: Arial, Verdana, Helvetica, Tahoma, sans-serif;
	font-size: large;
	text-align: left;
} 

h3 {
	font-family: Arial, Verdana, Helvetica, Tahoma, sans-serif;
	font-size: medium;
	text-align: left;
}

h4 {
	font-size: large;
}

p {
	font-family: Arial, Verdana, Helvetica, Tahoma, sans-serif;
}

li {
	font-family: Arial, Verdana, Helvetica, Tahoma, sans-serif;
	font-size: medium;
	text-align: justify;
}

.icon {
	width: 30px;
	height: 30px;
}
a {
	text-decoration: none;
}